<div id="right_w">
	<div id="dat_event">
		<h1>¡IMPORTANTE!</h1>
		<p><b>Cierre de inscripciones:</b> 28 Julio  </p>
		<p><b>Publicación Listado Provisional:</b> 29 Julio  </p>
		<p><b>Plazo alegaciones y correcciones: </b>Hasta el 1 Agosto </p><br />
		<p><b>Lugar:</b> Bahía de Gando</p>
		<p><b>Cuota:</b> 5€/persona (a abonar en efectivo en el momento de coger la guagua, rogando que lleven el importe exacto)</p>
		<br />
		<p><b>Publicación Listado Final:</b> 2 Agosto en <a href="http://www.cnjescagua.com" target="#">www.cnjescagua.com</a></p>
		<br />
		<p>Contacto a través de <b><%= @event.contact_email %></b> y/o teléfono <b><%= @event.contact_phone %></b></p>
		<br/><p><b>PLAZAS LIMITADAS</b></p>
	</div>
	<div id="image_event">
		
			<%= link_to image_tag("cartel_gando.jpg", :size => "333x471"), 'http://cnjescagua.com/gando/files/cartel_travesia_gando2011.jpg', :target => '#' %>
		
	</div>
</div>