<div id="right_w">
	<div id="dat_event">
		<h1>¡IMPORTANTE!</h1>
		<p><b>Cierre de inscripciones:</b> 23 Septiembre 23:55h  </p>
		<p><b>Publicación Listado Provisional:</b> 24 Septiembre  </p>
		<p><b>Plazo alegaciones y correcciones: </b>25 al 28 Septiembre </p><br />
		<p><b>Lugar:</b> Playa del Burrero</p>
		<p><b>Cuota:</b> 12€/persona FEDERADOS y 15€/persona NO FEDERADOS (a abonar en el plazo de inscripciones)</p>
		<br />
		<p><b>CC:</b> 20528008352310016704 (Caja de Canarias) poniendo como motivo: TRAVESIA NOMBRE APELLIDOS</p>
		<br />
		<p><b>Publicación Listado Final:</b> 29 Septiembre en <a href="http://www.cnjescagua.com" target="_blank">www.cnjescagua.com</a></p>
		<br />
		<p>Contacto a través de <b><%= @event.contact_email %></b> y/o teléfono <b><%= @event.contact_phone %></b></p>
	</div>
	<div id="image_event">
		
			<%= link_to image_tag("cartel_burrero_333.jpg"), 'images/cartel_burrero_grande.jpg', :target => '_blank' %>
		
	</div>
</div>